In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv("student_marks_1.csv")

data

,NAME,Gender,Maths,Physics,Chemistry,English,History,Total,Grade
0,John,M,55.0,45.0,56.0,87.0,89.0,332,D
1,Suresh,M,75.0,96.0,78.0,64.0,58.0,371,C
2,Ramesh,M,25.0,54.0,89.0,76.0,56.0,300,D
3,Jessica,F,78.0,96.0,NaN,63.0,75.0,312,D
4,Jennifer,F,58.0,96.0,78.0,46.0,83.0,361,C
5,Annu,F,45.0,87.0,52.0,89.0,87.0,360,C
6,pooja,F,55.0,64.0,61.0,NaN,64.0,244,F
7,Ritesh,M,54.0,76.0,87.0,56.0,76.0,349,D
8,Farha,F,NaN,63.0,89.0,75.0,63.0,290,F
9,Mukesh,M,96.0,46.0,77.0,83.0,46.0,348,D
10,Vicky,M,0.0,56.0,87.0,98.0,64.0,305,D
11,Pandi,M,95.0,78.0,64.0,88.0,76.0,401,B
12,Sunil,M,84.0,89.0,76.0,75.0,63.0,387,C
13,Sammy,M,75.0,86.0,63.0,NaN,46.0,270,F
14,Aaru sammy,M,68.0,78.0,46.0,82.0,89.0,363,C
15,Durai singam,M,59.0,52.0,89.0,83.0,58.0,341,D
16,Thangaraj,M,87.0,61.0,58.0,89.0,56.0,351,C
17,Vicky,M,86.0,87.0,56.0,99.0,75.0,403,B
18,Vijay kumar,M,81.0,NaN,75.0,78.0,83.0,317,D
19,Rathnavel pandian,M,82.0,77.0,83.0,87.0,67.0,396,C
20,Shivaji,M,89.0,87.0,67.0,64.0,98.0,405,B
21,Siva,M,87.0,64.0,NaN,76.0,88.0,315,D
22,Sanjay ramasamy,M,87.0,76.0,75.0,63.0,75.0,376,C
23,Velu,M,89.0,63.0,84.0,NaN,84.0,320,D
24,Gandhi,M,85.0,46.0,82.0,89.0,82.0,384,C
25,Ranadev billa,M,86.0,89.0,73.0,58.0,NaN,306,D
26,Virat kohli,M,82.0,NaN,81.0,56.0,89.0,308,D
27,Natrajan,M,81.0,56.0,64.0,75.0,99.0,375,C
28,Ghajini,M,64.0,75.0,75.0,90.0,77.0,381,C
29,Billa,M,65.0,83.0,95.0,65.0,87.0,395,C
30,Bashaa,M,68.0,85.0,68.0,87.0,64.0,372,C
31,Arunachalam,M,78.0,96.0,78.0,64.0,76.0,392,C
32,Sathyadev,M,73.0,75.0,75.0,76.0,63.0,362,C
33,Victor,M,72.0,45.0,97.0,63.0,46.0,323,D
34,Thenmozhi,F,91.0,65.0,64.0,46.0,89.0,355,C
35,Nayanthara,F,84.0,35.0,95.0,89.0,58.0,361,C
36,Veni,F,65.0,95.0,75.0,58.0,56.0,349,D
37,Vimala,F,NaN,85.0,82.0,56.0,75.0,298,F
38,Pavithra,F,86.0,65.0,61.0,75.0,83.0,370,C
39,Nithya,F,94.0,45.0,97.0,83.0,85.0,404,B
40,Kanimozhi,F,78.0,67.0,98.0,87.0,87.0,417,B
41,Kumar,M,68.0,89.0,88.0,NaN,64.0,309,D
42,Kuttralees,M,79.0,98.0,75.0,76.0,76.0,404,B
43,neelamegam,M,87.0,68.0,84.0,63.0,63.0,365,C
44,Zara,F,65.0,94.0,82.0,46.0,46.0,333,D
45,Devaki,F,99.0,95.0,83.0,89.0,89.0,455,A
46,Vaanathi,F,100.0,76.0,NaN,58.0,58.0,292,F
47,Kaarkulali,F,54.0,88.0,99.0,56.0,56.0,353,C
48,Oviyaa,F,87.0,77.0,78.0,75.0,75.0,392,C
49,Nazriya,F,84.0,35.0,95.0,89.0,58.0,361,C
50,Arun,M,79.0,NaN,75.0,76.0,76.0,306,D

In [2]:
data.head()

       NAME Gender  Maths  Physics  Chemistry  English  History  Total Grade
0      John      M   55.0     45.0       56.0     87.0     89.0    332     D
1    Suresh      M   75.0     96.0       78.0     64.0     58.0    371     C
2    Ramesh      M   25.0     54.0       89.0     76.0     56.0    300     D
3   Jessica      F   78.0     96.0        NaN     63.0     75.0    312     D
4  Jennifer      F   58.0     96.0       78.0     46.0     83.0    361     C

In [3]:
data.tail()

,NAME,Gender,Maths,Physics,Chemistry,English,History,Total,Grade
46,Vaanathi,F,100.0,76.0,NaN,58.0,58.0,292,F
47,Kaarkulali,F,54.0,88.0,99.0,56.0,56.0,353,C
48,Oviyaa,F,87.0,77.0,78.0,75.0,75.0,392,C
49,Nazriya,F,84.0,35.0,95.0,89.0,58.0,361,C
50,Arun,M,79.0,NaN,75.0,76.0,76.0,306,D

In [4]:
data.describe()

            Maths    Physics  Chemistry    English    History       Total
count   49.000000  48.000000  48.000000  47.000000  50.000000   51.000000
mean    74.775510  73.000000  77.270833  73.744681  71.920000  351.745098
std     18.561009  17.970425  13.031451  14.222560  14.299765   42.349896
min      0.000000  35.000000  46.000000  46.000000  46.000000  244.000000
25%     65.000000  62.500000  67.750000  63.000000  59.250000  316.000000
50%     79.000000  76.000000  78.000000  76.000000  75.000000  360.000000
75%     87.000000  87.250000  87.000000  87.000000  83.750000  382.500000
max    100.000000  98.000000  99.000000  99.000000  99.000000  455.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   NAME       51 non-null     object
 1   Gender     51 non-null     object
 2   Maths      49 non-null     float64
 3   Physics    48 non-null     float64
 4   Chemistry  48 non-null     float64
 5   English    47 non-null     float64
 6   History    50 non-null     float64
 7   Total      51 non-null     int64
 8   Grade      51 non-null     object
dtypes: float64(5), int64(1), object(3)
memory usage: 3.7+ KB

In [6]:
missing_value=data.isnull()
missing_value

     NAME  Gender  Maths  Physics  Chemistry  English  History  Total  Grade
0   False   False  False    False      False    False    False  False  False
1   False   False  False    False      False    False    False  False  False
2   False   False  False    False      False    False    False  False  False
3   False   False  False    False       True    False    False  False  False
4   False   False  False    False      False    False    False  False  False
5   False   False  False    False      False    False    False  False  False
6   False   False  False    False      False     True    False  False  False
7   False   False  False    False      False    False    False  False  False
8   False   False   True    False      False    False    False  False  False
9   False   False  False    False      False    False    False  False  False
10  False   False  False    False      False    False    False  False  False
11  False   False  False    False      False    False    False  False  False
12  False   False  False    False      False    False    False  False  False
13  False   False  False    False      False     True    False  False  False
14  False   False  False    False      False    False    False  False  False
15  False   False  False    False      False    False    False  False  False
16  False   False  False    False      False    False    False  False  False
17  False   False  False    False      False    False    False  False  False
18  False   False  False     True      False    False    False  False  False
19  False   False  False    False      False    False    False  False  False
20  False   False  False    False      False    False    False  False  False
21  False   False  False    False       True    False    False  False  False
22  False   False  False    False      False    False    False  False  False
23  False   False  False    False      False     True    False  False  False
24  False   False  False    False      False    False    False  False  False
25  False   False  False    False      False    False     True  False  False
26  False   False  False     True      False    False    False  False  False
27  False   False  False    False      False    False    False  False  False
28  False   False  False    False      False    False    False  False  False
29  False   False  False    False      False    False    False  False  False
30  False   False  False    False      False    False    False  False  False
31  False   False  False    False      False    False    False  False  False
32  False   False  False    False      False    False    False  False  False
33  False   False  False    False      False    False    False  False  False
34  False   False  False    False      False    False    False  False  False
35  False   False  False    False      False    False    False  False  False
36  False   False  False    False      False    False    False  False  False
37  False   False   True    False      False    False    False  False  False
38  False   False  False    False      False    False    False  False  False
39  False   False  False    False      False    False    False  False  False
40  False   False  False    False      False    False    False  False  False
41  False   False  False    False      False     True    False  False  False
42  False   False  False    False      False    False    False  False  False
43  False   False  False    False      False    False    False  False  False
44  False   False  False    False      False    False    False  False  False
45  False   False  False    False      False    False    False  False  False
46  False   False  False    False       True    False    False  False  False
47  False   False  False    False      False    False    False  False  False
48  False   False  False    False      False    False    False  False  False
49  False   False  False    False      False    False    False  False  False
50  False   False  False     True      False    False    False  False  False

In [7]:
missing_value_sum=data.isnull().sum()
missing_value_sum

NAME         0
Gender       0
Maths        2
Physics      3
Chemistry    3
English      4
History      1
Total        0
Grade        0
dtype: int64

In [8]:
missing1=data["English"].mean()
missing1

73.74468085106383

In [9]:
missing2=data["Maths"].mean()
missing2

74.77551020408163

In [10]:
missing4=data["Chemistry"].mean()
missing4

77.27083333333333

In [11]:
missing3=data["Physics"].mean()
missing3

73.0

In [12]:
missing5=data["History"].mean()
missing5

71.92

In [13]:
data["English"].fillna(missing1,inplace=True)

C:\Users\kuttr\AppData\Local\Temp\ipykernel_21028\2881926790.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["English"].fillna(missing1,inplace=True)

In [14]:
data["Maths"].fillna(missing2,inplace=True)

C:\Users\kuttr\AppData\Local\Temp\ipykernel_21028\2291356575.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Maths"].fillna(missing2,inplace=True)

In [15]:
data["Physics"].fillna(missing3,inplace=True)

C:\Users\kuttr\AppData\Local\Temp\ipykernel_21028\4137486002.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Physics"].fillna(missing3,inplace=True)

In [16]:
data["Chemistry"].fillna(missing4,inplace=True)

C:\Users\kuttr\AppData\Local\Temp\ipykernel_21028\2531917437.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Chemistry"].fillna(missing4,inplace=True)

In [17]:
data["History"].fillna(missing5,inplace=True)

C:\Users\kuttr\AppData\Local\Temp\ipykernel_21028\873901826.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["History"].fillna(missing5,inplace=True)

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X=data.drop(["Total","Grade","NAME","Gender"],axis=1)
y=data["Total"]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [21]:
X_train.head()

       Maths  Physics  Chemistry    English  History
8   74.77551     63.0       89.0  75.000000     63.0
49  84.00000     35.0       95.0  89.000000     58.0
6   55.00000     64.0       61.0  73.744681     64.0
47  54.00000     88.0       99.0  56.000000     56.0
4   58.00000     96.0       78.0  46.000000     83.0

In [22]:
y_train.head()

8     290
49    361
6     244
47    353
4     361
Name: Total, dtype: int64

In [23]:
X_test.head()

    Maths  Physics  Chemistry  English  History
43   87.0     68.0  84.000000     63.0     63.0
40   78.0     67.0  98.000000     87.0     87.0
46  100.0     76.0  77.270833     58.0     58.0
12   84.0     89.0  76.000000     75.0     63.0
24   85.0     46.0  82.000000     89.0     82.0

In [24]:
y_test.head()

43    365
40    417
46    292
12    387
24    384
Name: Total, dtype: int64

In [25]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [26]:
ypre=model.predict(X_test)
print(ypre)
print(y_test)

[342.47640994 393.13904575 345.83737763 370.13014879 364.80262127
 368.69415171 394.01919028 347.75869745 366.12062443 363.08468274
 335.93643977]
43    365
40    417
46    292
12    387
24    384
31    392
17    403
32    362
3     312
30    372
13    270
Name: Total, dtype: int64

In [27]:
model.predict([[67,89,90,67,98]])

C:\Users\kuttr\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([381.59854462])

In [28]:
model.predict([[89,78,56,45,89]])

C:\Users\kuttr\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([327.63890253])